{% extends 'base.twig' %}

{% block title %}
    <h2>{{ post.title }}</h2>
{% endblock %}

{% block body %}

	<h3 style="background-color: green">{{ flash|raw }}</h3>

    {% for error in errors %}
        <li style="background-color: red">{{ error }}</li>
    {% endfor %}
	
	<h1>{{ post.title }}</h1>
	<p>
	{{ post.content|raw }}
	</p>
	
	<span>{{post.author}} | {{post.publishedAt}} | {{post.categoryId}}</span>
			
	<h4>Komentarze</h4>
	
	{% for comment in post.comments %}
		<p style="border-left: 6px solid red; background-color: lightgrey;">{{ comment.content }}<br/>{{ comment.author }}</p>
    {% endfor %}
	
    <form method="post" action="" id="comment_form">
		komentarz: <textarea rows="4" cols="50" name="comment" form="comment_form"></textarea><br/>
		autor: <input type="text" name="author"><br/>
        <input type="submit" value="Dodaj komentarz">
    </form>
	
{% endblock %}